*{
    margin:0;
    padding: 0;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.center{
    display: flex;    
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
header{
    background-color: rgba(0,0,0,0.6);
    height: 80px;
}
.logo{
    color: #ffdab9;
    margin-top: 25px; 
}
.menu-container{
   width: 100%;
   justify-content: space-between; 
}

.menu-container a{
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    padding: 0 10px;
    line-height: 80px;
    transition: 0.8s;
}
.menu-container a:hover{
    color:#4185ec
}

section.produtos{
    background-color: #5d6a92;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.produto-container{
    width: 100%;
    
    justify-content: space-between;
}
.produto-single{
    text-align: left;
    width: 100%;
    margin: 0 10px;
}
.produto-single video{
    width: 100%;
    height: 400px;
    display: block;
}
footer{
    background-color: #584e4e;
    text-align: center;
    padding: 8px;
    color: white;
}

section.palavras{
    background-color: white;
    padding: 20px;
}   
h4{
    padding: 20px;
    color: rgb(129, 31, 31);
}
body{
    background-color: rgb(255, 255, 255);
}
p{
    padding: 20px;
    
}

@media (max-width: 500px){
    .logo h5{
        width: 2px;
    }
    a{
        width: 50px;
        height:80px;
    }
    .menu-container a.active-menu{
        width: 59px;
        height: 80px;
    }
    .produto-single{
        width: 300px;
        margin: 10px;
    }
}
#titulo{
    font-family: sans-serif;
    color: #333;
    
}
fieldset{
    border: 0;
}
textarea{
    border-radius: 5px;
}
.formulario{
    padding: 50px;
    margin-left: 2%
}
.campo{
    margin-bottom: 0.2em;
    display: block;
    color: #ec4141;
}
.campo textarea{
    padding: 0.2em;
    border: 1px solid ;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6) ;
    display: block;
}
.campo textarea :focus{
    background-color:#ffffff;
}
.botao{
    font-size: 1.2em;
    border: 0;
    margin-bottom: 1em;
}
.botao :hover{
    text-shadow: none;
}